In [ ]:
import pandas as pd

In [ ]:
df1 = pd.read_excel('/content/590910342_Baptist-Hospital-of-Miami-Inc_standardcharges.xlsx')

In [ ]:
df1.head()

,hospital_name,description,code|1,code|1|type,code|2,code|2|type,code|3,code|3|type,code|4,code|4|type,...,standard_charge|discounted_cash,payer_name,plan_name,standard_charge|negotiated_dollar,standard_charge|negotiated_percentage,standard_charge|negotiated_algorithm,estimated_amount,standard_charge|methodology,standard_charge|min,standard_charge|max
0,Bapist hospital,Scw cann ft 7.0x80mm msdf7080|Scw cann ft 7.0x...,211374|211375|191574|191575|191576|191577|1915...,CDM,278.0,RC,C1713,HCPCS,NaN,NaN,...,1191.45,DIMENSION HEALTH PLAN,DIMENSION 2,1649.7,90.0,"90% of $1,833.00 in Billed Charges for Rev 278...",1649.7,percent of total billed charges,317.11,1649.7
1,Bapist hospital,Scw cann hdless th p26572110f|Scw hless th p26...,209407|209396,CDM,278.0,RC,C1713,HCPCS,NaN,NaN,...,4245.15,DIMENSION HEALTH PLAN,DIMENSION 2,5877.9,90.0,"90% of $6,531.00 in Billed Charges for Rev 278...",5877.9,percent of total billed charges,1129.86,5877.9
2,Bapist hospital,Scw cann DartFir Edge d0330026,216377,CDM,278.0,RC,C1713,HCPCS,NaN,NaN,...,1197.30,DIMENSION HEALTH PLAN,DIMENSION 2,1657.8,90.0,"90% of $1,842.00 in Billed Charges for Rev 278...",1657.8,percent of total billed charges,318.67,1657.8
3,Bapist hospital,Scw cann headless 3x20 3173020|Scw hdlss cann ...,190663|180152|178302|189906|217544|216987|2169...,CDM,278.0,RC,C1713,HCPCS,NaN,NaN,...,986.70,DIMENSION HEALTH PLAN,DIMENSION 2,1366.2,90.0,"90% of $1,518.00 in Billed Charges for Rev 278...",1366.2,percent of total billed charges,262.61,1366.2
4,Bapist hospital,Graft AAA Zenith 26x124 proxi|Graft AAA Zenith...,150390|150383|158003|158020|158005|158007|158011,CDM,278.0,RC,C1874,HCPCS,NaN,NaN,...,35349.60,DIMENSION HEALTH PLAN,DIMENSION 2,48945.6,90.0,"90% of $54,384.00 in Billed Charges for Rev 27...",48945.6,percent of total billed charges,9408.43,48945.6

In [ ]:
df1.isnull().sum()

hospital_name                                  0
description                                    0
code|1                                     79717
code|1|type                                79717
code|2                                     32151
code|2|type                                32151
code|3                                    108274
code|3|type                               108274
code|4                                   1048573
code|4|type                              1048573
modifiers                                 580915
setting                                        0
drug_unit_of_measurement                  931512
drug_type_of_measurement                  931512
standard_charge|gross                          0
standard_charge|discounted_cash                0
payer_name                                     0
plan_name                                      0
standard_charge|negotiated_dollar              0
standard_charge|negotiated_percentage     185905
standard_charge|negotiated_algorithm      152718
estimated_amount                          152718
standard_charge|methodology                    0
standard_charge|min                            0
standard_charge|max                            0
dtype: int64

In [ ]:
df1['code|3|type'].value_counts()

code|3|type
CPT    390839
Name: count, dtype: int64

In [ ]:
df1 = df1[df1['code|3|type'] == 'CPT'].reset_index()
df1 = df1.drop('index', axis=1)

In [ ]:
df1 = df1.fillna(0)

In [ ]:
df1.isnull().sum()

hospital_name                            0
description                              0
code|1                                   0
code|1|type                              0
code|2                                   0
code|2|type                              0
code|3                                   0
code|3|type                              0
code|4                                   0
code|4|type                              0
modifiers                                0
setting                                  0
drug_unit_of_measurement                 0
drug_type_of_measurement                 0
standard_charge|gross                    0
standard_charge|discounted_cash          0
payer_name                               0
plan_name                                0
standard_charge|negotiated_dollar        0
standard_charge|negotiated_percentage    0
standard_charge|negotiated_algorithm     0
estimated_amount                         0
standard_charge|methodology              0
standard_charge|min                      0
standard_charge|max                      0
dtype: int64

In [ ]:
cols_to_rmv = ['modifiers', 'drug_unit_of_measurement', 'drug_type_of_measurement', 'standard_charge|gross', 'standard_charge|discounted_cash', 'standard_charge|negotiated_percentage', 'standard_charge|negotiated_algorithm', 'estimated_amount', 'standard_charge|methodology', 'standard_charge|min', 'standard_charge|max']

In [ ]:
df1 = df1.drop(cols_to_rmv, axis=1)

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 390839 entries, 0 to 390838
Data columns (total 14 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   hospital_name                      390839 non-null  object
 1   description                        390839 non-null  object
 2   code|1                             390839 non-null  object
 3   code|1|type                        390839 non-null  object
 4   code|2                             390839 non-null  float64
 5   code|2|type                        390839 non-null  object
 6   code|3                             390839 non-null  object
 7   code|3|type                        390839 non-null  object
 8   code|4                             390839 non-null  float64
 9   code|4|type                        390839 non-null  float64
 10  setting                            390839 non-null  object
 11  payer_name                         390839 non-null  object
 12  plan_name                          390839 non-null  object
 13  standard_charge|negotiated_dollar  390839 non-null  float64
dtypes: float64(4), object(10)
memory usage: 41.7+ MB

In [ ]:
df2 = pd.read_excel('/content/592616017_university-of-miami-hosp--clinics_standardcharges.xlsx')

In [ ]:
df2.isnull().sum()

hospitak_name                                  0
description                                    0
code|1                                         0
code|1|type                                    0
code|2                                     13937
code|2|type                                13937
code|3                                    540713
code|3|type                               540713
billing_class                                  0
setting                                        0
drug_unit_of_measurement                  774667
drug_type_of_measurement                  774667
standard_charge|gross                      55249
standard_charge|discounted_cash            55270
payer_name                                     0
plan_name                                      0
modifiers                                1048573
standard_charge|negotiated_dollar          87564
standard_charge|negotiated_percentage     961057
standard_charge|negotiated_algorithm     1048510
estimated_amount                          961009
standard_charge|min                           48
standard_charge|max                           48
standard_charge|methodology                    0
additional_generic_notes                  946495
dtype: int64

In [ ]:
df2['code|3|type'].value_counts()

code|3|type
HCPCS    221077
CPT      196162
NDC       90621
Name: count, dtype: int64

In [ ]:
df2 = df2[df2['code|3|type']=='CPT']
df2 = df2.reset_index(drop=True)

In [ ]:
df2.rename(columns={'hospitak_name': 'hospital_name'}, inplace=True)

In [ ]:
df2 = df2.fillna(0)
df2.isnull().sum()

hospital_name                        0
description                          0
code|1                               0
code|1|type                          0
code|2                               0
code|2|type                          0
code|3                               0
code|3|type                          0
billing_class                        0
setting                              0
payer_name                           0
plan_name                            0
standard_charge|negotiated_dollar    0
additional_generic_notes             0
dtype: int64

In [ ]:
df2 = df2.drop(cols_to_rmv, axis=1)

In [ ]:
df2 = df2.drop('additional_generic_notes', axis=1)
df2 = df2.drop('billing_class', axis=1)

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196162 entries, 0 to 196161
Data columns (total 12 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   hospital_name                      196162 non-null  object
 1   description                        196162 non-null  object
 2   code|1                             196162 non-null  int64
 3   code|1|type                        196162 non-null  object
 4   code|2                             196162 non-null  int64
 5   code|2|type                        196162 non-null  object
 6   code|3                             196162 non-null  int64
 7   code|3|type                        196162 non-null  object
 8   setting                            196162 non-null  object
 9   payer_name                         196162 non-null  object
 10  plan_name                          196162 non-null  object
 11  standard_charge|negotiated_dollar  196162 non-null  float64
dtypes: float64(1), int64(3), object(8)
memory usage: 18.0+ MB

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 390839 entries, 0 to 390838
Data columns (total 14 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   hospital_name                      390839 non-null  object
 1   description                        390839 non-null  object
 2   code|1                             390839 non-null  object
 3   code|1|type                        390839 non-null  object
 4   code|2                             390839 non-null  float64
 5   code|2|type                        390839 non-null  object
 6   code|3                             390839 non-null  object
 7   code|3|type                        390839 non-null  object
 8   code|4                             390839 non-null  float64
 9   code|4|type                        390839 non-null  float64
 10  setting                            390839 non-null  object
 11  payer_name                         390839 non-null  object
 12  plan_name                          390839 non-null  object
 13  standard_charge|negotiated_dollar  390839 non-null  float64
dtypes: float64(4), object(10)
memory usage: 41.7+ MB

In [ ]:
df3 = pd.read_excel('/content/591006663_Boca-Raton-Regional-Hospital-Inc_standardcharges.xlsx')

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 477248 entries, 0 to 477247
Data columns (total 25 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   hospital_name                          477248 non-null  object
 1   description                            477248 non-null  object
 2   code|1                                 445482 non-null  object
 3   code|1|type                            445482 non-null  object
 4   code|2                                 467334 non-null  float64
 5   code|2|type                            467334 non-null  object
 6   code|3                                 417079 non-null  object
 7   code|3|type                            417079 non-null  object
 8   code|4                                 0 non-null       float64
 9   code|4|type                            0 non-null       float64
 10  modifiers                              211352 non-null  object
 11  setting                                477248 non-null  object
 12  drug_unit_of_measurement               110304 non-null  float64
 13  drug_type_of_measurement               110304 non-null  object
 14  standard_charge|gross                  477248 non-null  float64
 15  standard_charge|discounted_cash        477248 non-null  float64
 16  payer_name                             477248 non-null  object
 17  plan_name                              477248 non-null  object
 18  standard_charge|negotiated_dollar      477248 non-null  float64
 19  standard_charge|negotiated_percentage  222502 non-null  float64
 20  standard_charge|negotiated_algorithm   252149 non-null  object
 21  estimated_amount                       252149 non-null  float64
 22  standard_charge|methodology            477248 non-null  object
 23  standard_charge|min                    477248 non-null  float64
 24  standard_charge|max                    477248 non-null  float64
dtypes: float64(11), object(14)
memory usage: 91.0+ MB

In [ ]:
df3['code|3|type'].value_counts()

code|3|type
HCPCS       208962
CPT         198203
MS-DRG        9288
TRIS-DRG       566
APR-DRG         60
Name: count, dtype: int64

In [ ]:
df3 = df3[df3['code|3|type'] == 'CPT']
df3 = df3.reset_index(drop=True)

In [ ]:
df3 = df3.fillna(0)
df3.isnull().sum()

hospital_name                            0
description                              0
code|1                                   0
code|1|type                              0
code|2                                   0
code|2|type                              0
code|3                                   0
code|3|type                              0
code|4                                   0
code|4|type                              0
modifiers                                0
setting                                  0
drug_unit_of_measurement                 0
drug_type_of_measurement                 0
standard_charge|gross                    0
standard_charge|discounted_cash          0
payer_name                               0
plan_name                                0
standard_charge|negotiated_dollar        0
standard_charge|negotiated_percentage    0
standard_charge|negotiated_algorithm     0
estimated_amount                         0
standard_charge|methodology              0
standard_charge|min                      0
standard_charge|max                      0
dtype: int64

In [ ]:
df3 = df3.drop(cols_to_rmv, axis=1)

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198203 entries, 0 to 198202
Data columns (total 14 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   hospital_name                      198203 non-null  object
 1   description                        198203 non-null  object
 2   code|1                             198203 non-null  object
 3   code|1|type                        198203 non-null  object
 4   code|2                             198203 non-null  float64
 5   code|2|type                        198203 non-null  object
 6   code|3                             198203 non-null  object
 7   code|3|type                        198203 non-null  object
 8   code|4                             198203 non-null  float64
 9   code|4|type                        198203 non-null  float64
 10  setting                            198203 non-null  object
 11  payer_name                         198203 non-null  object
 12  plan_name                          198203 non-null  object
 13  standard_charge|negotiated_dollar  198203 non-null  float64
dtypes: float64(4), object(10)
memory usage: 21.2+ MB

In [ ]:
df3.to_csv('sample_file.csv', index=False)  # index=False to avoid saving row indices

In [ ]:
df4 = pd.read_excel('/content/596012065_broward-health-coral-springs_standardcharges.xlsx')

In [ ]:
df4.head()

,hospital_name,description,code|1,code|1|type,code|2,code|2|type,code|3,code|3|type,code|4,code|4|type,...,plan_name,standard_charge|negotiated_dollar,standard_charge|negotiated_percentage,standard_charge|negotiated_algorithm,estimated_amount,standard_charge|methodology,standard_charge|min,standard_charge|max,additional_generic_notes,additional_payer_notes
0,Broward Health Coral Springs,LATE BNE L63MM 3X4 H R T SHP,C1776,HCPCS,278,RC,49467991,CDM,NaN,NaN,...,Medicare Advantage,NaN,NaN,Reimbursement bundled into MS-DRG where approp...,999999999.0,other,60.84,468.00,Reimbursement bundled into MS-DRG where approp...,NaN
1,Broward Health Coral Springs,PLATE 8H MIDSHFT RT,C1713,HCPCS,278,RC,49115989,CDM,NaN,NaN,...,Medicare Advantage,NaN,NaN,Reimbursement bundled into MS-DRG where approp...,999999999.0,other,214.03,1646.40,Reimbursement bundled into MS-DRG where approp...,NaN
2,Broward Health Coral Springs,PLATE LCP 10H 2.7MM 94MM,C1713,HCPCS,278,RC,49168110,CDM,NaN,NaN,...,Medicare Advantage,NaN,NaN,Reimbursement bundled into MS-DRG where approp...,999999999.0,other,90.90,699.20,Reimbursement bundled into MS-DRG where approp...,NaN
3,Broward Health Coral Springs,TRIPTORELIN 3.75MG INJ (11.25),J3315,HCPCS,636,RC,43201701,CDM,NaN,NaN,...,Medicare Advantage,NaN,NaN,Reimbursement bundled into MS-DRG where approp...,999999999.0,other,426.26,3278.96,Reimbursement bundled into MS-DRG where approp...,NaN
4,Broward Health Coral Springs,ROD EXT FIX SM 4X160MM,278,RC,49258003,CDM,NaN,NaN,NaN,NaN,...,Medicare Advantage,NaN,NaN,Reimbursement bundled into MS-DRG where approp...,999999999.0,other,11.75,90.40,Reimbursement bundled into MS-DRG where approp...,NaN

In [ ]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 28 columns):
 #   Column                                 Non-Null Count    Dtype
---  ------                                 --------------    -----
 0   hospital_name                          1048575 non-null  object
 1   description                            1048573 non-null  object
 2   code|1                                 1048573 non-null  object
 3   code|1|type                            1048573 non-null  object
 4   code|2                                 983319 non-null   object
 5   code|2|type                            983319 non-null   object
 6   code|3                                 688427 non-null   object
 7   code|3|type                            688427 non-null   object
 8   code|4                                 30180 non-null    float64
 9   code|4|type                            30180 non-null    object
 10  billing_class                          1048573 non-null  object
 11  setting                                1048573 non-null  object
 12  drug_unit_of_measurement               57703 non-null    float64
 13  drug_type_of_measurement               57703 non-null    object
 14  modifiers                              6724 non-null     object
 15  standard_charge|gross                  983475 non-null   float64
 16  standard_charge|discounted_cash        983475 non-null   float64
 17  payer_name                             1048573 non-null  object
 18  plan_name                              1048573 non-null  object
 19  standard_charge|negotiated_dollar      145306 non-null   float64
 20  standard_charge|negotiated_percentage  52817 non-null    float64
 21  standard_charge|negotiated_algorithm   903267 non-null   object
 22  estimated_amount                       903267 non-null   float64
 23  standard_charge|methodology            1048573 non-null  object
 24  standard_charge|min                    1048573 non-null  float64
 25  standard_charge|max                    1048573 non-null  float64
 26  additional_generic_notes               903267 non-null   object
 27  additional_payer_notes                 0 non-null        float64
dtypes: float64(10), object(18)
memory usage: 224.0+ MB

In [ ]:
df4 = df4[df4['code|1|type'] == 'CPT']

In [ ]:
df4 = df4.fillna(0)
df4 = df4.reset_index(drop=True)

In [ ]:
df4 = df4.drop(cols_to_rmv, axis=1)
df4 = df4.drop(['additional_generic_notes', 'additional_payer_notes', 'billing_class'], axis=1)
df4 = df4.drop('billing_class', axis=1)

In [ ]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88734 entries, 0 to 88733
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   hospital_name                      88734 non-null  object
 1   description                        88734 non-null  object
 2   code|1                             88734 non-null  object
 3   code|1|type                        88734 non-null  object
 4   code|2                             88734 non-null  int64
 5   code|2|type                        88734 non-null  object
 6   code|3                             88734 non-null  object
 7   code|3|type                        88734 non-null  object
 8   code|4                             88734 non-null  float64
 9   code|4|type                        88734 non-null  object
 10  setting                            88734 non-null  object
 11  payer_name                         88734 non-null  object
 12  plan_name                          88734 non-null  object
 13  standard_charge|negotiated_dollar  88734 non-null  float64
dtypes: float64(2), int64(1), object(11)
memory usage: 9.5+ MB

In [ ]:
df5 = pd.read_excel('/content/650844880_cleveland-clinic-florida_standardcharges.xlsx')

In [ ]:
df5.isnull().sum()

hospital_name                                  0
description                                    0
code|1                                         0
code|1|type                                    0
code|2                                    222637
code|2|type                               222637
code|3                                    304246
code|3|type                               304246
billing_class                                  0
setting                                        0
drug_unit_of_measurement                 1048573
drug_type_of_measurement                 1048573
standard_charge|gross                     222637
standard_charge|discounted_cash           222637
payer_name                                     0
plan_name                                      0
modifiers                                1048474
standard_charge|negotiated_dollar         292565
standard_charge|negotiated_algorithm      896053
standard_charge|negotiated_percentage     747512
estimated_amount                          878328
standard_charge|min                       292275
standard_charge|max                       292275
count_of_compared_rates                   292986
standard_charge|methodology                    0
dtype: int64

In [ ]:
df5

,hospital_name,description,code|1,code|1|type,code|2,code|2|type,code|3,code|3|type,billing_class,setting,...,plan_name,modifiers,standard_charge|negotiated_dollar,standard_charge|negotiated_algorithm,standard_charge|negotiated_percentage,estimated_amount,standard_charge|min,standard_charge|max,count_of_compared_rates,standard_charge|methodology
835260,Cleveland Clinic,All OP Allogeneic and Autologus Transplant-Ste...,ALLOPALLOAUTO,CPT,NaN,NaN,NaN,NaN,Facility,Outpatient,...,Transplant,NaN,NaN,NaN,75.0,999999999.0,NaN,NaN,1.0,Percent of Total Billed Charges
835261,Cleveland Clinic,Cornea - IP,AUTOTANIP,CPT,NaN,NaN,NaN,NaN,Facility,Inpatient,...,Transplant,NaN,21689.0,NaN,NaN,NaN,21689.0,21689.0,1.0,Case Rate
835262,Cleveland Clinic,Cornea - OP,AUTOTANOP,CPT,NaN,NaN,NaN,NaN,Facility,Outpatient,...,Transplant,NaN,16020.0,NaN,NaN,NaN,16020.0,16020.0,1.0,Case Rate
835263,Cleveland Clinic,Intestine Only-Adult,INTESTONLYA,CPT,NaN,NaN,NaN,NaN,Facility,Outpatient,...,Transplant,NaN,485000.0,NaN,NaN,NaN,485000.0,485000.0,1.0,Case Rate
835264,Cleveland Clinic,Intestine Only-Pediatric,INTESTONLYP,CPT,NaN,NaN,NaN,NaN,Facility,Outpatient,...,Transplant,NaN,540500.0,NaN,NaN,NaN,540500.0,540500.0,1.0,Case Rate
835265,Cleveland Clinic,Kidney/Pancreas - Adult & Pediatric,KIDPANC,CPT,NaN,NaN,NaN,NaN,Facility,Outpatient,...,Transplant,NaN,238302.0,NaN,NaN,NaN,238302.0,238302.0,1.0,Case Rate

In [ ]:
df5 = df5[df5['code|1|type'] == 'CPT']

In [ ]:
df5 = df5.drop(cols_to_rmv, axis=1)
df5 = df5.drop(['billing_class'], axis=1)
df5 = df5.drop('count_of_compared_rates', axis=1)

In [ ]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 835260 to 835265
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   hospital_name                      6 non-null      object
 1   description                        6 non-null      object
 2   code|1                             6 non-null      object
 3   code|1|type                        6 non-null      object
 4   code|2                             0 non-null      float64
 5   code|2|type                        0 non-null      object
 6   code|3                             0 non-null      object
 7   code|3|type                        0 non-null      object
 8   setting                            6 non-null      object
 9   payer_name                         6 non-null      object
 10  plan_name                          6 non-null      object
 11  standard_charge|negotiated_dollar  5 non-null      float64
dtypes: float64(2), object(10)
memory usage: 624.0+ bytes

In [ ]:
df_all = pd.concat([df1, df2, df3, df4, df5], ignore_index=True)

In [ ]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 873944 entries, 0 to 873943
Data columns (total 14 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   hospital_name                      873944 non-null  object
 1   description                        873944 non-null  object
 2   code|1                             873944 non-null  object
 3   code|1|type                        873944 non-null  object
 4   code|2                             873938 non-null  float64
 5   code|2|type                        873938 non-null  object
 6   code|3                             873938 non-null  object
 7   code|3|type                        873938 non-null  object
 8   code|4                             677776 non-null  float64
 9   code|4|type                        677776 non-null  object
 10  setting                            873944 non-null  object
 11  payer_name                         873944 non-null  object
 12  plan_name                          873944 non-null  object
 13  standard_charge|negotiated_dollar  873943 non-null  float64
dtypes: float64(3), object(11)
memory usage: 93.3+ MB

In [ ]:
df_all.head()

,hospital_name,description,code|1,code|1|type,code|2,code|2|type,code|3,code|3|type,code|4,code|4|type,setting,payer_name,plan_name,standard_charge|negotiated_dollar
0,Bapist hospital,OneBlood CBC w auto diff,178655,CDM,305.0,RC,85025,CPT,0.0,0.0,both,DIMENSION HEALTH PLAN,DIMENSION 2,22.5
1,Bapist hospital,OneBlood CBC w auto diff,178655,CDM,305.0,RC,85025,CPT,0.0,0.0,both,DIMENSION HEALTH PLAN,DIMENSION 2,22.5
2,Bapist hospital,OneBlood CBC w auto diff,178655,CDM,305.0,RC,85025,CPT,0.0,0.0,both,DIMENSION HEALTH PLAN,DIMENSION 2,22.5
3,Bapist hospital,OneBlood CBC w auto diff,178655,CDM,305.0,RC,85025,CPT,0.0,0.0,both,DIMENSION HEALTH PLAN,DIMENSION 2,22.5
4,Bapist hospital,OneBlood CBC w auto diff,178655,CDM,305.0,RC,85025,CPT,0.0,0.0,both,DIMENSION HEALTH PLAN,DIMENSION 2,22.5

In [ ]:
df_all['hospital_name'].value_counts()

hospital_name
Bapist hospital                 390839
Boca Raton                      198203
University of Miami             196162
Broward Health Coral Springs     88734
Cleveland Clinic                     6
Name: count, dtype: int64

In [ ]:
df_all['setting'] = df_all['setting'].replace({'Outpatient': 'outpatient', 'Inpatient': 'inpatient'})

In [ ]:
df_all['setting'].value_counts()

setting
both          521347
outpatient    301152
inpatient      51445
Name: count, dtype: int64

In [ ]:
data = df_all.to_csv('data.csv', index=False)

In [ ]:
df_all = df_all.fillna(0)

In [ ]:
data = df_all.to_csv('Miami-FL-data.csv', index=0)

In [ ]:
df = df_all.drop_duplicates()

In [ ]:
data = df.to_csv('Miami-FL-wo-duplicate.csv', index=0)